Package                        Version
------------------------------ -----------
fastapi                        0.115.12
opencv-python                  4.10.0.84
ultralytics                    8.3.129
ultralytics-thop               2.0.14
uvicorn                        0.34.2
